<div class="body">
<div >
     <app-navbar></app-navbar>
     <div class="ul">
    
    <div class="ul"><ul>  The key causative of water pollution :
        
      <li>Urbanization.</li>
        
      <li>Deforestation.</li>
        
      <li>Industrial effluents.</li>
        
      <li>Use of Detergents and Fertilizers.</li>
      <li>Agricultural run-offs- Use of insecticides and pesticides.</li>  
      <li>Social and Religious Practices.</li>
      </ul>
      </div>
      <div class="ul"><ul>Ways to Prevent Water Pollution :
        <li>Pick up litter and throw it away in a garbage can.</li>
    <li>Blow or sweep fertilizer back onto the grass if it gets onto paved areas. ...</li>
    <li>Mulch or compost grass or yard waste. ...</li>
    <li>Don't pour your motor oil down the storm drain. Take it to the nearest auto parts store. It's free!
    </li>
    <li>Never clean up a spill by hosing it into a storm drain. Place kitty litter, sand, or another absorbent on the spill. Once the liquid becomes solid - sweep it up and throw it in a garbage can.</li>
    <li>Wash your car or outdoor equipment where it can flow to a gravel or grassy area instead of a street.</li>
      </ul>
    
</div>
</div>