<app-navbar></app-navbar>
<div class="contacts-container">
  
  
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\1.jpg" alt="image">
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\2.jpg" alt="image">
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\3.jpg" alt="image">
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\4.jpg" alt="image">
      
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\5.jpg" alt="image">
      
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
     <img src="assets\image\6.jpg" alt="image">
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\7.jpg" alt="image">
      
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\8.jpg" alt="image">
      
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\9.jpg" alt="image">
      
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\10.jpg" alt="image">
      
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\11.jpg" alt="image">
      
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\12.jpg" alt="image">
      
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\13.jpg" alt="image">
      
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\14.jpg" alt="image">
      
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\15.jpg" alt="image">
      
      
    </mat-card>
  </div>
  