.body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(44, 43, 43, 0.75)),url(src\assets\image\read.jpg);
    background-size: cover;
    background-position: center;
}
    
