<app-navbar></app-navbar>
<div class="contacts-container">
  
  
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\1.jpg" alt="image">
      <mat-card-content>
        <h3>B.ARAVIND BABU</h3>
        <p>Position:Software Engineer </p>
        <p>Email: baravind@gmai.com</p>
        <p>Phone: 7675849423</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\2.jpg" alt="image">
      <mat-card-content>
        <h3>B.RAMA KRISHNA</h3>
        <p>Position: Software Engineer</p>
        <p>Email: Bramakrishna@gmail.com</p>
        <p>Phone: 7675859516</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\3.jpg" alt="image">
      <mat-card-content>
        <h3>K.ADHI BABU</h3>
        <p>Position: Software Engineer</p>
        <p>Email: kadhibabu@gmail.com</p>
        <p>Phone: 7675859516</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\4.jpg" alt="image">
      <mat-card-content>
        <h3>M.RISHIK MOULI</h3>
        <p>Position: Software Engineer</p>
        <p>Email: mrishikmouli@gmail.com</p>
        <p>Phone: 7675859516</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\image\5.jpg" alt="image">
      <mat-card-content>
        <h3>P.RANGA NAYAK</h3>
        <p>Position: Software Engineer</p>
        <p>Email: pranganayak@gmail.com</p>
        <p>Phone: 7675859516</p>
      </mat-card-content>
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
     <img src="assets\image\6.jpg" alt="image">
      <mat-card-content>
        <h3>P.SAI LOKESH</h3>
        <p>Position: Software Engineer</p>
        <p>Email: psailokesh@gmail.com</p>
        <p>Phone: 7675859516</p>
      </mat-card-content>
    </mat-card>
  </div>
  